
<div class="container">
  <h1><%= @flat.name %></h1>
  <h2><%=@flat.address  %></h2>
</div>

<div class="container">
  <p><%= @flat.description %></p>
</div>

<div class="container">
  <p><%= @flat.number_of_guests %></p>
  <p><%= @flat.price_per_night %></p>
</div>
